@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@layer base {
  html,
  body {
    @apply font-sans;
    height: 100%;
    background-color: white;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition;
  }
}

@layer utilities {
  /* you can add custom utility classes here later */
}
